<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" type="image/png" href="img/favicon.png" />
		</head>
		<body>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<!-- <li><a href="/about">About</a></li> -->
					<li><a href="https://en.wikipedia.org/wiki/Timeline_of_ancient_history">CV</a></li>
					<!-- <li><a href="/blog">Blog</a></li> -->
				</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
				<ul>
					<li><a href="mailto:u@lyss.es">u@lyss.es</a></li>
				</ul>
			</footer>
		</body>
	</html>
